<div class="row">
	<div class="col"><a href="https://sharp.ph/" target="_blank"><img class="img-fluid" src="/static/assets/brands/sharp.jpg"></a></div>
	<div class="col"><a href="http://www.lg.com/ph" target="_blank"><img class="img-fluid" src="/static/assets/brands/lg.jpg"></a></div>
	<div class="col"><a href="http://www.tclphilippines.com/tcl/" target="_blank"><img class="img-fluid" src="/static/assets/brands/tcl.jpg"></a></div>
	<div class="col"><a href="https://www.samsung.com/ph/" target="_blank"><img class="img-fluid" src="/static/assets/brands/samsung.jpg"></a></div>
	<div class="col"><a href="http://www.haier.com/ph/" target="_blank"><img class="img-fluid" src="/static/assets/brands/haier.jpg"></a></div>
</div>
<div class="row">
	<div class="col"><a href="https://www.samsung.com/ph/" target="_blank"><img class="img-fluid" src="/static/assets/brands/samsung.jpg"></a></div>
	<div class="col"><a href="http://www.haier.com/ph/" target="_blank"><img class="img-fluid" src="/static/assets/brands/haier.jpg"></a></div>
	<div class="col"><a href="http://www.trademaster-philippine.com/everest.html" target="_blank"><img class="img-fluid" src="/static/assets/brands/everest.jpg"></a></div>
</div>