<style>
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>
<br>
<div id="accordion">
	<div class="row">
		<div class="col-sm-3">
			<div class="btn-group-vertical" style="padding-bottom: 1em;">
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#albay">ALBAY</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#batangas">BATANGAS</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#camnorte">CAMARINES NORTE</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#camsur">CAMARINES SUR</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#catanduanes">CATANDUANES</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#cavite">CAVITE</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#laguna">LAGUNA</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#marinduque">MARINDUQUE</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#masbate">MASBATE</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#mindoro">ORIENTAL MINDORO</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quezon">QUEZON</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#sorsogon">SORSOGON</button>
				<button type="button" class="btn btn-outline-danger" data-toggle="collapse" data-target="#showall">SHOW ALL</button>
			</div>
		</div>
		<div class="col-sm-9">
			<div id="albay" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
								<td>GUINOBATAN</td>
								<td>Rizal St., Ilawod, Guinobatan, Albay</td>
								<td><a href="tel:0933 868 9395">0933 868 9395</a></td>
							</tr>
							<tr>
								<td>LEGAZPI CITY</td>
								<td>Emma Victoria Bldg., Rizal St., Legaspi City</td>
								<td><a href="tel:0933 810 6529">0933 810 6529</a></td>
							</tr>
							<tr>
								<td>LIGAO CITY</td>
								<td>San Jose St., Dunao, Ligao City</td>
								<td><a href="tel:0933 810 6527">0933 810 6527</a></td>
							</tr>
							<tr>
								<td>POLANGUI</td>
								<td>National Road #490 Brgy. Ubaliw, Polangui, Albay</td>
								<td><a href="tel:0933 810 6526">0933 810 6526</a></td>
							</tr>
							<tr>
								<td>TABACO CITY</td>
								<td>Tomas Cabiles St., San Juan, Tabaco City</td>
								<td><a href="tel:0933 868 9394">0933 868 9394</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="batangas" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BALAYAN</td>
								<td>Antorcha St., Brgy. 12 Poblacion, Balayan, Batangas</td>
								<td><a href="tel:0933 868 9362">0933 868 9362</a></td>
								<td>(043) 407 3052</td>
							</tr>
							<tr>
								<td>LIPA CITY</td>
								<td>M.K Lina St., Barangay 1, Lipa City, Batangas</td>
								<td><a href="tel:0933 868 9362">0933 868 9362</a></td>
								<td>(043) 702 4730</td>
							</tr>
							<tr>
								<td>SAN JUAN</td>
								<td>#2 Castillo St., Poblacion, San Juan, Batangas</td>
								<td><a href="tel:0933 868 9362">0933 868 9362</a></td>
								<td>(043) 341 2516</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="camnorte" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DAET</td>
								<td>J Lukban St., Daet, Cam. Norte</td>
								<td><a href="tel:0933 868 9371">0933 868 9371</a></td>
							</tr>
							<tr>
								<td>LABO</td>
								<td>Maharlika Highway, Labo, Cam. Norte</td>
								<td><a href="tel:0933 868 9372">0933 868 9372</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="camsur" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>GOA</td>
								<td>Rizal St.,  Bagumbayan Pequeño, Goa, Cam. Sur</td>
								<td><a href="tel:0933 865 4812">0933 865 4812</a></td>
							</tr>
							<tr>
								<td>IRIGA CITY</td>
								<td>Highway 1, San Jose, Iriga City</td>
								<td><a href="tel:0933 810 6525">0933 810 6525</a></td>
							</tr>
							<tr>
								<td>LIBMANAN</td>
								<td>T. Dilanco St., Libod 1, Libmanan, Cam. Sur</td>
								<td><a href="tel:0933 865 4810">0933 865 4810</a></td>
							</tr>
							<tr>
								<td>NABUA</td>
								<td>RK Manzano Complex, San Francisco, Nabua, Cam. Sur</td>
								<td><a href="tel:0933 827 9024">0933 827 9024</a></td>
							</tr>
							<tr>
								<td>PILI</td>
								<td>Maharlika Hi Way, San Vicente, Pili, Cam. Sur</td>
								<td><a href="tel:0933 865 4811">0933 865 4811</a></td>
							</tr>
							<tr>
								<td>RAGAY</td>
								<td>Poblacion Ilaod, Ragay, Cam. Sur</td>
								<td><a href="tel:0933 868 9373">0933 868 9373</a></td>
							</tr>
							<tr>
								<td>SIPOCOT</td>
								<td>San Juan Avenue, North Centro, Sipocot, Cam. Sur</td>
								<td><a href="tel:0933 865 4809">0933 865 4809</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="catanduanes" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>VIRAC</td>
								<td>Groundfloor RCL Bldg. San Juan St., Virac, Catanduanes</td>
								<td><a href="tel:0933 868 9396">0933 868 9396</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="cavite" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DASMARIÑAS</td>
								<td>Aguinaldo Hiway, Brgy. Sampaloc 1, Pala-Pala, Dasmariñas City, Cavite</td>
								<td><a href="tel:0933 868 9356">0933 868 9356</a></td>
								<td>(046) 541 5186</td>
							</tr>
							<tr>
								<td>NAIC</td>
								<td>Governor's Drive, Soriano Hi-Way, Ibayo Silangan, Naic, Cavite</td>
								<td><a href="tel:0933 868 9355">0933 868 9355</a></td>
								<td>(046) 412 0009</td>
							</tr>
							<tr>
								<td>TRECE MARTIRES</td>
								<td>2nd floor Mojican Bldg. Trece-Indang Road Brgy., San Agustin, Trece Martires, Cavite</td>
								<td><a href="tel:0933 868 9357">0933 868 9357</a></td>
								<td>(046) 419 0122</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="laguna" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>NAGCARLAN</td>
								<td>A. Bonifacio St., Nagcarlan, Laguna</td>
								<td>(049) 530-7636</td>
								<td><a href="tel:0933 868 9361">0933 868 9361</a></td>
							</tr>
							<tr>
								<td>SAN PABLO CITY</td>
								<td>Maharlika Highway, San Francisco, San Pablo City</td>
								<td>(049) 503-3586</td>
								<td><a href="tel:0933 868 9360">0933 868 9360</a></td>
							</tr>
							<tr>
								<td>STA. CRUZ</td>
								<td>P. Guevarra St., Poblacion IV Sta. Cruz, Laguna</td>
								<td>(049) 501-6682</td>
								<td><a href="tel:0933 868 9359">0933 868 9359</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="marinduque" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BOAC</td>
								<td>Gov. D. Reyes St., Brgy. San Miguel, Boac, Marinduque</td>
								<td>&nbsp;</td>
								<td><a href="tel:0933 868 9398">0933 868 9398</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="masbate" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>MASBATE CITY</td>
								<td>Quezon St., Masbate City</td>
								<td><a href="tel:0933 868 9397">0933 868 9397</a></td>
							</tr>
							<tr>
								<td>DIMASALANG</td>
								<td>Largo St., Corner Quizumbing Drive, Dimasalang, Masbate</td>
								<td>&nbsp;</td>
								<td><a href="tel:0933 868 9399">0933 868 9399</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="mindoro" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PINAMALAYAN</td>
								<td>Mabini St., Marfrancisco, Pinamalayan, Oriental Mindoro</td>
								<td><a href="tel:0933 867 9246">0933 867 9246</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="quezon" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CATANAUAN</td>
								<td>Brgy 10, Quezon Ave., Catanauan, Quezon</td>
								<td><a href="tel:0933 868 9367">0933 868 9367</a></td>
								<td>(042) 315 8515</td>
							</tr>
							<tr>
								<td>GUMACA</td>
								<td>Maharlika Highway, Brgy. San Diego, Poblacion, Gumaca, Quezon</td>
								<td><a href="tel:0933 868 9368">0933 868 9368</a></td>
								<td>(042) 717 1052</td>
							</tr>
							<tr>
								<td>LOPEZ</td>
								<td>Maharlika Hi-way Brgy. Magsaysay, Lopez, Quezon</td>
								<td><a href="tel:0933 868 9369">0933 868 9369</a></td>
								<td>(042) 326 2026</td>
							</tr>
							<tr>
								<td>LUCENA CITY</td>
								<td>Maharlika Hi-way, Ibabang Dupay, Lucena City</td>
								<td><a href="tel:0933 868 9365">0933 868 9365</a></td>
								<td>(042) 710-9449</td>
							</tr>
							<tr>
								<td>SARIAYA</td>
								<td>Maharlika Hi-way, Gen. Luna St., Poblacion 2, Sariaya, Quezon</td>
								<td><a href="tel:0933 868 9366">0933 868 9366</a></td>
								<td>(042) 717-0010</td>
							</tr>
							<tr>
								<td>TAGKAWAYAN</td>
								<td>Sta. Maria St., Poblacion, Tagkawayan, Quezon</td>
								<td><a href="tel:0933 868 9370">0933 868 9370</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="sorsogon" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BULAN</td>
								<td>P. De Castro St., Corner Immaculate Concepcion St., Zone 4, Bulan, Sorsogon</td>
								<td><a href="tel:0933 865 4813">0933 865 4813</a></td>
							</tr>
							<tr>
								<td>GUBAT</td>
								<td>Manoog St., Gubat, Sorsogon</td>
								<td><a href="tel:0933 865 4814">0933 865 4814</a></td>
							</tr>
							<tr>
								<td>SORSOGON CITY</td>
								<td>Rizal St., Dalipay, Sorsogon City</td>
								<td><a href="tel:0933 865 4815">0933 865 4815</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="showall" class="collapse" data-parent="#accordion">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>MOBILE NO.</th>
								<th>LANDLINE NO.</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
								<td>BALAYAN</td>
								<td>Antorcha St., Brgy. 12 Poblacion, Balayan, Batangas</td>
								<td><a href="tel:0933 868 9362">0933 868 9362</a></td>
								<td>(043) 407 3052</td>
							</tr>
							<tr>
								<td>BOAC</td>
								<td>Gov. D. Reyes St., Brgy. San Miguel, Boac, Marinduque</td>
								<td><a href="tel:0933 868 9398">0933 868 9398</a></td>
							</tr>
							<tr>
								<td>BULAN</td>
								<td>P. De Castro St., Corner Immaculate Concepcion St., Zone 4, Bulan, Sorsogon</td>
								<td><a href="tel:0933 865 4813">0933 865 4813</a></td>
							</tr>
							<tr>
								<td>CATANAUAN</td>
								<td>Brgy 10, Quezon Ave., Catanauan, Quezon</td>
								<td><a href="tel:0933 868 9367">0933 868 9367</a></td>
								<td>(042) 315 8515</td>
							</tr>
							<tr>
								<td>DAET</td>
								<td>J Lukban St., Daet, Cam. Norte</td>
								<td><a href="tel:0933 868 9371">0933 868 9371</a></td>
							</tr>
							<tr>
								<td>DASMARIÑAS</td>
								<td>Aguinaldo Hiway, Brgy. Sampaloc 1, Pala-Pala, Dasmariñas City, Cavite</td>
								<td><a href="tel:0933 868 9356">0933 868 9356</a></td>
								<td>(046) 541 5186</td>
							</tr>
							<tr>
								<td>DIMASALANG</td>
								<td>Largo St., Corner Quizumbing Drive, Dimasalang, Masbate</td>
								<td><a href="tel:09338689399">09338689399</a></td>
							</tr>
							<tr>
								<td>GOA</td>
								<td>Rizal St.,  Bagumbayan Pequeño, Goa, Cam. Sur</td>
								<td><a href="tel:0933 865 4812">0933 865 4812</a></td>
							</tr>
							<tr>
								<td>GUBAT</td>
								<td>Manoog St., Gubat, Sorsogon</td>
								<td><a href="tel:0933 865 4814">0933 865 4814</a></td>
							</tr>
						    <tr>
								<td>GUINOBATAN</td>
								<td>Rizal St., Ilawod, Guinobatan, Albay</td>
								<td><a href="tel:0933 868 9395">0933 868 9395</a></td>
							</tr>
							<tr>
								<td>GUMACA</td>
								<td>San Diego, Poblacion, Gumaca, Quezon</td>
								<td><a href="tel:0933 868 9368">0933 868 9368</a></td>
								<td>(042) 717 1052</td>
							</tr>
							<tr>
								<td>IRIGA CITY</td>
								<td>Highway 1, San Jose, Iriga City</td>
								<td><a href="tel:0933 810 6525">0933 810 6525</a></td>
							</tr>
							<tr>
								<td>LABO</td>
								<td>Maharlika Highway, Labo, Cam. Norte</td>
								<td><a href="tel:0933 868 9372">0933 868 9372</a></td>
							</tr>
							<tr>
								<td>LEGAZPI CITY</td>
								<td>Emma Victoria Bldg., Rizal St., Legaspi City</td>
								<td><a href="tel:0933 810 6529">0933 810 6529</a></td>
							</tr>
							<tr>
								<td>LIBMANAN</td>
								<td>T. Dilanco St., Libod 1, Libmanan, Cam. Sur</td>
								<td><a href="tel:0933 865 4810">0933 865 4810</a></td>
							</tr>
							<tr>
								<td>LIGAO CITY</td>
								<td>San Jose St., Dunao, Ligao City</td>
								<td><a href="tel:0933 810 6527">0933 810 6527</a></td>
							</tr>
							<tr>
								<td>LIPA CITY</td>
								<td>M.K Lina St., Barangay 1, Lipa City, Batangas</td>
								<td><a href="tel:0933 868 9363">0933 868 9363</a></td>
								<td>(043) 702 4730</td>
							</tr>
							<tr>
								<td>LOPEZ</td>
								<td>Maharlika Hi-way Brgy. Magsaysay, Lopez, Quezon</td>
								<td><a href="tel:0933 868 9369">0933 868 9369</a></td>
								<td>(042) 326 2026</td>
							</tr>
							<tr>
								<td>LUCENA CITY</td>
								<td>Maharlika Hi-way, Ibabang Dupay, Lucena City</td>
								<td><a href="tel:0933 868 9365">0933 868 9365</a></td>
								<td>(042) 710 9449</td>
							</tr>
							<tr>
								<td>MASBATE CITY</td>
								<td>Quezon St., Masbate City</td>
								<td><a href="tel:0933 868 9397">0933 868 9397</a></td>
							</tr>
							<tr>
								<td>NABUA</td>
								<td>RK Manzano Complex, San Francisco, Nabua, Cam. Sur</td>
								<td><a href="tel:0933 827 9024">0933 827 9024</a></td>
							</tr>
							<tr>
								<td>NAGCARLAN</td>
								<td>A. Bonifacio St., Nagcarlan, Laguna</td>
								<td><a href="tel:0933 868 9361">0933 868 9361</a></td>
								<td>(049) 530 7636</td>
							</tr>
							<tr>
								<td>NAIC</td>
								<td>Governor's Drive, Soriano Hi-Way, Ibayo Silangan, Naic, Cavite</td>
								<td><a href="tel:0933 868 9355">0933 868 9355</a></td>
								<td>(046) 412 0009</td>
							</tr>
							<tr>
								<td>PILI</td>
								<td>Maharlika Hi Way, San Vicente, Pili, Cam. Sur</td>
								<td><a href="tel:0933 865 4811">0933 865 4811</a></td>
							</tr>
							<tr>
								<td>PINAMALAYAN</td>
								<td>Mabini St., Marfrancisco, Pinamalayan, Oriental Mindoro</td>
								<td><a href="tel:0933 867 9246">0933 867 9246</a></td>
							</tr>
							<tr>
								<td>POLANGUI</td>
								<td>National Road #490 Brgy. Ubaliw, Polangui, Albay</td>
								<td><a href="tel:0933 810 6526">0933 810 6526</a></td>
							</tr>
							<tr>
								<td>RAGAY</td>
								<td>Poblacion Ilaod, Ragay, Cam. Sur</td>
								<td><a href="tel:0933 868 9373">0933 868 9373</a></td>
							</tr>
							<tr>
								<td>SAN JUAN</td>
								<td>#2 Castillo St., Poblacion, San Juan, Batangas</td>
								<td><a href="tel:0933 868 9364">0933 868 9364</a></td>
								<td>(043) 341 2516</td>
							</tr>
							<tr>
								<td>SAN PABLO CITY</td>
								<td>Maharlika Highway, San Francisco, San Pablo City</td>
								<td><a href="tel:0933 868 9360">0933 868 9360</a></td>
								<td>(049) 503 3586</td>
							</tr>
							<tr>
								<td>SARIAYA</td>
								<td>Maharlika Hi-way, Gen. Luna St., Poblacion 2, Sariaya, Quezon</td>
								<td><a href="tel:0933 868 9366">0933 868 9366</a></td>
								<td>(042) 717 0010</td>
							</tr>
							<tr>
								<td>SIPOCOT</td>
								<td>San Juan Avenue, North Centro, Sipocot, Cam. Sur</td>
								<td><a href="tel:0933 865 4809">0933 865 4809</a></td>
							</tr>
							<tr>
								<td>SORSOGON CITY</td>
								<td>Rizal St., Dalipay, Sorsogon City</td>
								<td><a href="tel:0933 865 4815">0933 865 4815</a></td>
							</tr>
							<tr>
								<td>STA. CRUZ</td>
								<td>P. Guevarra St., Poblacion IV Sta. Cruz, Laguna</td>
								<td><a href="tel:0933 868 9359">0933 868 9359</a></td>
								<td>(049) 501 6682</td>
							</tr>
							<tr>
								<td>TABACO CITY</td>
								<td>Tomas Cabiles St., San Juan, Tabaco City</td>
								<td><a href="tel:0933 868 9394">0933 868 9394</a></td>
							</tr>
							<tr>
								<td>TAGKAWAYAN</td>
								<td>Sta. Maria St., Poblacion, Tagkawayan, Quezon</td>
								<td><a href="tel:0933 868 9370">0933 868 9370</a></td>
							</tr>
							<tr>
								<td>TRECE MARTIRES</td>
								<td>2nd floor Mojican Bldg. Trece-Indang Road Brgy., San Agustin, Trece Martires, Cavite</td>
								<td><a href="tel:0933 868 9357">0933 868 9357</a></td>
								<td>(046) 419 0122</td>
							</tr>
							<tr>
								<td>VIRAC</td>
								<td>Groundfloor RCL Bldg. San Juan St., Virac, Catanduanes</td>
								<td><a href="tel:0933 868 9396">0933 868 9396</a></td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="map-responsive">
	<iframe src="https://www.google.com/maps/d/embed?mid=1sWrtre3AmUKneTpGRwOWdzl7fnDZ_ez3" width="640" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
