<style>
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>
<br>
<div id="accordion">
	<!--ALBAY-->
	<div class="card">
		<div class="card-header">
			<a class="card-link" data-toggle="collapse" href="#albay">ALBAY</a>
		</div>
		<div id="albay" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>LEGAZPI CITY</td>
								<td>Emma Victoria Bldg., Rizal St., Legaspi City</td>
								<td>(052) 480-6142</td>
								<td>0933 810 6529</td>
							</tr>
							<tr>
								<td>LIGAO CITY</td>
								<td>San Jose St., Dunao, Ligao City</td>
								<td>(052) 485-1467</td>
								<td>0933 810 6527</td>
							</tr>
							<tr>
								<td>POLANGUI</td>
								<td>National Road #490 Brgy. Ubaliw, Polangui, Albay</td>
								<td>(052) 486-2395</td>
								<td>0933 810 6526</td>
							</tr>
							<tr>
								<td>TABACO CITY</td>
								<td>Tomas Cabiles St., San Juan, Tabaco City</td>
								<td>(052) 487-5477</td>
								<td>0933 868 9394</td>
							</tr>
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>
	<!--BATANGAS-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#batangas">BATANGAS</a>
		</div>
		<div id="batangas" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BALAYAN</td>
								<td>Antorcha St., Brgy. 12 Poblacion, Balayan, Batangas</td>
								<td>(043) 921-3154</td>
								<td>0933 868 9362</td>
							</tr>
							<tr>
								<td>LIPA CITY</td>
								<td>M.K Lina St., Barangay 1, Lipa City, Batangas</td>
								<td>(043) 702-4730</td>
								<td>0933 868 9363</td>
							</tr>
							<tr>
								<td>SAN JUAN</td>
								<td>#2 Castillo St., Poblacion, San Juan, Batangas</td>
								<td>(043) 741-4389</td>
								<td>0933 868 9364</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--CAMARINES NORTE-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#camnorte">CAMARINES NORTE</a>
		</div>
		<div id="camnorte" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DAET</td>
								<td>Racoma Bldg., J Lukban St., Daet, Cam. Norte</td>
								<td>(054) 440-2144</td>
								<td>0933 868 9371</td>
							</tr>
							<tr>
								<td>LABO</td>
								<td>Maharlika Hi Way, Labo, Cam. Norte</td>
								<td>(054) 447-6162</td>
								<td>0933 868 9372</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--CAMARINES SUR-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#camsur">CAMARINES SUR</a>
		</div>
		<div id="camsur" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>GOA</td>
								<td>Rizal St.,  Bagumbayan Pequeño, Goa, Cam. Sur</td>
								<td>(052) 453-0329</td>
								<td>0933 865 4812</td>
							</tr>
							<tr>
								<td>IRIGA CITY</td>
								<td>Nat'l Hi way, San Jose, Iriga City</td>
								<td>(054) 456-1238</td>
								<td>0933 810 6525</td>
							</tr>
							<tr>
								<td>LIBMANAN</td>
								<td>Palo, Libmanan, Cam. Sur</td>
								<td>(054) 451-2743</td>
								<td>0933 865 4810</td>
							</tr>
							<tr>
								<td>NABUA</td>
								<td>RK Manzano Complex, San Francisco, Nabua, Cam. Sur</td>
								<td>(054) 288-4268</td>
								<td>0933 852 1119</td>
							</tr>
							<tr>
								<td>PILI</td>
								<td>Maharlika Hi Way, San Vicente, Pili, Cam. Sur</td>
								<td>(054) 477-3991</td>
								<td>0933 865 4811</td>
							</tr>
							<tr>
								<td>RAGAY</td>
								<td>Poblacion Ilaod, Ragay, Cam. Sur</td>
								<td>&nbsp;</td>
								<td>0933 868 9373</td>
							</tr>
							<tr>
								<td>SIPOCOT</td>
								<td>San Juan Avenue, South Centro, Sipocot, Cam. Sur</td>
								<td>(054) 450-6232</td>
								<td>0933 865 4809</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--CATANDUANES-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#catanduanes">CATANDUANES</a>
		</div>
		<div id="catanduanes" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>VIRAC</td>
								<td>Groundfloor RCL Bldg. San Juan St., Virac, Catanduanes</td>
								<td>(052) 811-4302</td>
								<td>0933 868 9396</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--CAVITE-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#cavite">CAVITE</a>
		</div>
		<div id="cavite" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DASMARIÑAS</td>
								<td>Aguinaldo Hiway, Brgy. Sampaloc 1, Pala-Pala, Dasmariñas City, Cavite</td>
								<td>(046) 740 0386</td>
								<td>0933 868 9356</td>
							</tr>
							<tr>
								<td>NAIC</td>
								<td>Governor's Drive, Soriano Hi-Way, Ibayo Silangan, Naic, Cavite</td>
								<td>(046) 856-1353</td>
								<td>0933 868 9355</td>
							</tr>
							<tr>
								<td>TRECE MARTIRES</td>
								<td>2nd floor Mojican Bldg. Trece-Indang Road Brgy., San Agustin, Trece Martires, Cavite</td>
								<td>(046) 864-0261</td>
								<td>0933 868 9357</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--LAGUNA-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#laguna">LAGUNA</a>
		</div>
		<div id="laguna" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>NAGCARLAN</td>
								<td>A. Bonifacio St., Nagcarlan, Laguna</td>
								<td>(049) 530-7636</td>
								<td>0933 868 9361</td>
							</tr>
							<tr>
								<td>SAN PABLO CITY</td>
								<td>Maharlika Highway, San Francisco, San Pablo City</td>
								<td>(049) 503-3586</td>
								<td>0933 868 9360</td>
							</tr>
							<tr>
								<td>STA. CRUZ</td>
								<td>P. Guevarra St., Poblacion IV Sta. Cruz, Laguna</td>
								<td>(049) 501-6682</td>
								<td>0933 868 9359</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--MARINDUQUE-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#marinduque">MARINDUQUE</a>
		</div>
		<div id="marinduque" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BOAC</td>
								<td>Gov. D. Reyes St., Brgy. San Miguel, Boac, Marinduque</td>
								<td>&nbsp;</td>
								<td>0933 868 9398</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--MASBATE-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#masbate">MASBATE</a>
		</div>
		<div id="masbate" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>MASBATE CITY</td>
								<td>Quezon St., Masbate City</td>
								<td>(056) 582-0839</td>
								<td>0933 868 9397</td>
							</tr>
							<tr>
								<td>DIMASALANG</td>
								<td>Largo St., Corner Quizumbing Drive, Dimasalang, Masbate</td>
								<td>&nbsp;</td>
								<td>09338689399</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--ORIENTAL MINDORO-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#mindoro">ORIENTAL MINDORO</a>
		</div>
		<div id="mindoro" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PINAMALAYAN</td>
								<td>Mabini St., Marfrancisco, Pinamalayan, Oriental Mindoro</td>
								<td>&nbsp;</td>
								<td>0933 867 9246</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--QUEZON-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#quezon">QUEZON</a>
		</div>
		<div id="quezon" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>CATANAUAN</td>
								<td>Groundfloor Agustina Inn, Brgy 10, Catanauan, Quezon</td>
								<td>(042) 315-8515</td>
								<td>0933 868 9367</td>
							</tr>
							<tr>
								<td>GUMACA</td>
								<td>San Diego, Poblacion, Gumaca, Quezon</td>
								<td>(042) 717-1052</td>
								<td>0933 868 9368</td>
							</tr>
							<tr>
								<td>LOPEZ</td>
								<td>Maharlika Hi-way Brgy. Magsaysay, Lopez, Quezon</td>
								<td>(042) 302-6851</td>
								<td>0933 868 9369</td>
							</tr>
							<tr>
								<td>LUCENA CITY</td>
								<td>Maharlika Hi-way, Ibabang Dupay, Lucena City</td>
								<td>(042) 710-9449</td>
								<td>0933 868 9365</td>
							</tr>
							<tr>
								<td>SARIAYA</td>
								<td>Maharlika Hi-way, Gen. Luna St., Poblacion 2, Sariaya, Quezon</td>
								<td>(042) 717-0010</td>
								<td>0933 868 9366</td>
							</tr>
							<tr>
								<td>TAGKAWAYAN</td>
								<td>Sta. Maria St., Poblacion, Tagkawayan, Quezon</td>
								<td>(042) 304-8405</td>
								<td>0933 868 9370</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<!--SORSOGON-->
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#sorsogon">SORSOGON</a>
		</div>
		<div id="sorsogon" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>STORE</th>
								<th>ADDRESS</th>
								<th>TEL. NO.</th>
								<th>CP NO.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BULAN</td>
								<td>P. De Castro St., Corner Immaculate Concepcion St., Zone 4, Bulan, Sorsogon</td>
								<td>(056) 555-2617</td>
								<td>0933 865 4813</td>
							</tr>
							<tr>
								<td>GUBAT</td>
								<td>Manoog St., Gubat, Sorsogon</td>
								<td>(056) 311-1138</td>
								<td>0933 865 4814</td>
							</tr>
							<tr>
								<td>SORSOGON CITY</td>
								<td>Rizal St., Dalipay, Sorsogon City</td>
								<td>(056) 421-5193</td>
								<td>0933 865 4815</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
</div>
<br>
<div class="map-responsive">
	<iframe src="https://www.google.com/maps/d/embed?mid=1sWrtre3AmUKneTpGRwOWdzl7fnDZ_ez3" width="640" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>