{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style>
h1 {text-align:center;}
p {text-align: justify;}
</style>
<p><h1>COMPANY'S PROFILE</h1></p>
<p><strong>ALSON'S Trading</strong> is a leader in the sale of appliances and furnitures in southern Luzon. It envisions a community where every household are touched by the power of quality brand of appliances and furnitures.</p>
<p>ALSON'S Trading's legacy is in adherence to the principle of accumulation of business profit equated with best quality of service. The ALSON'S excellence and integrity in the sale of appliances has seen continuously through the years of business operation and strategy of one family, headed by spouses Paulo and Salvacion Ballesteros, added by the best management talents of their sons, who operates a modernized style of management.</p>
<p>Since its commitment to its customer in 1980, it operates a centralized management with direct supervision over its operating branches. During the late 90's, the branch expansion plan was implemented. Now, the company maintains a 36 stronghold branches throughout southern Luzon.</p>
<p>By delivering the best customer service through the sale of appliance and furniture's, ALSON'S TRADING continued to outspace the appliance industry in Southern Luzon and in every area where we compete.</p>
<p>As a result, ALSON'S TRADING has gained recognition in the appliance industry through its continues partnership with its suppliers, extensive marketing, and experienced management.</p>
{% endblock %}